@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #F5B027;
  --secondary-color: #a07300;
  --bg-dark: #000;
  --bg-gradient-top: rgba(0, 0, 0, 1);
  --bg-gradient-bottom: rgba(26, 14, 1, 1);
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  background: linear-gradient(180deg, var(--bg-gradient-top) 0%, var(--bg-gradient-bottom) 100%);
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* ---------------- HEADER ---------------- */

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  padding: 10px 0;
  display: block;
  font-weight: 500;
  transition: all 300ms ease;
  color: var(--text-color);
}

header nav ul li:not(.button) a:hover {
  border-bottom: 5px solid var(--primary-color);
}

header nav ul li.button a {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 500ms ease;
  font-weight: 600;
  color: var(--bg-dark);
}

header nav ul li.button a:hover {
  background: var(--secondary-color);
  color: var(--text-color);
}


/* ---------------- HERO ---------------- */

.hero {
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 550px;
  display: flex;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero_info {
  width: 100%;
  max-width: 530px;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

.hero_info h1 {
  font-size: 60px;
  font-weight: 700;
}

.hero_info p {
  font-weight: 500;
  line-height: 170%;
  margin: 30px 0;
  font-size: 22px;
  color: var(--primary-color);
}

.hero_info .button {
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  max-width: 250px;
}

.hero_info .button:hover {
  cursor: pointer;
  background: var(--secondary-color);
  transform: scale(1.05);
}

.hero img {
  width: 40%;
  height: 450px;
  object-fit: cover;
  top: 50%;
  right: 100px;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 10px;
  max-width: 450px;
}


/* ---------------- ABOUT ---------------- */

.about {
  padding: 100px 0;
  background: linear-gradient(180deg, var(--bg-gradient-bottom) 0%, var(--bg-gradient-top) 100%);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 80px;
  align-items: center;
}

.about-img {
  position: relative;
  max-width: 450px;
}

.about-img img {
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: transform 400ms ease;
}

.about-img:hover img {
  transform: scale(1.05)

